/* For mobile phones: */
[class*="coll-"] {
  width: 100%;
}



@media only screen and (min-width: 600px) {
  /* For tablets: */
  .coll-s-1 {width: 8.33%;}
  .coll-s-2 {width: 16.66%;}
  .coll-s-3 {width: 25%;}
  .coll-s-4 {width: 33.33%;}
  .coll-s-5 {width: 41.66%;}
  .coll-s-6 {width: 50%;}
  .coll-s-7 {width: 58.33%;}
  .coll-s-8 {width: 66.66%;}
  .coll-s-9 {width: 75%;}
  .coll-s-10 {width: 83.33%;}
  .coll-s-11 {width: 91.66%;}
  .coll-s-12 {width: 100%;}

.sec .sec-1{
width: 600px !important;
}


}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .coll-1 {width: 8.33%;}
  .coll-2 {width: 16.66%;}
  .coll-3 {width: 25%;}
  .coll-4 {width: 33.33%;}
  .coll-5 {width: 41.66%;}
  .coll-6 {width: 50%;}
  .coll-7 {width: 58.33%;}
  .coll-8 {width: 66.66%;}
  .coll-9 {width: 75%;}
  .coll-10 {width: 83.33%;}
  .coll-11 {width: 91.66%;}
  .coll-12 {width: 100%;}

.sec .sec-1{
width: 678px !important;
}


}
*{
box-sizing: border-box;
margin: 0%;
padding: 0%;
}


body{
display: flex;
align-items: center;
justify-content: center;
background:radial-gradient(purple, rgb(45, 45, 158),purple,rgb(45, 45, 158),purple);
}


.containerr{
display: flex;
max-width: 1440px;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}


.containerr .roww{
display: flex;
width: 100%;
justify-content: center;
flex-wrap: wrap;
}

.sec{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
height: 400px;
}

.sec .sec-1{
display: flex;
align-items: center;
justify-content: center;
position: relative;
overflow: hidden;
box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.603);
height: 100%;   
width: 320px;
border: 4px solid white;
}

.sec-1 .imgg{
display: flex;
height: 100%;
width: 100%;
}

.sec-1 .imgg .img-1{
display: flex;
height: 100%;
width: 100%;
background: url('modified.jpg') no-repeat;
}

.sec-1 .imgg .img-2{
display: flex;
position: absolute;
height: 100%;
width: 50%;
background: url('5.jpg') no-repeat;
}

.sec-1 .slider{
position: absolute;
top: 0;
z-index: 99;
width: 100%;
}

.sec-1 .slider input{
width: 100%;
outline: none;
-webkit-appearance: none;
background: none;
}

.sec-1 .slider input::-webkit-slider-thumb{
height: 486px;
width: 3px;
background: none;
-webkit-appearance: none;
cursor: col-resize;
}

.sec-1 .slider .drag-line{
width: 3px;
height: 400px;
position: absolute;
left: 49.85%;
pointer-events: none;
}

.sec-1 .slider .drag-line::before,
.sec-1 .slider .drag-line::after{
position: absolute;
content: " ";
width: 100%;
height: 222px;
background: rgb(202, 19, 19);
}

.sec-1 .slider .drag-line::before{
top: 0;
}

.sec-1 .slider .drag-line::after{
bottom: 0;
}

.sec-1 .slider .drag-line span{
height: 42px;
width: 42px;
border: 3px solid rgb(202, 19, 19);
position: absolute;
top: 50%;
left: 50%;
border-radius: 50%;
transform: translate(-50%, -50%);
}

.sec-1 .slider .drag-line span::before,
.sec-1 .slider .drag-line span::after{
position: absolute;
content: " ";
top: 50%;
border: 10px solid transparent;
border-bottom-width: 0;
border-right-width: 0;
transform:  translate(-50%, -50%) rotate(45deg);
}

.sec-1 .slider .drag-line span::before{
left: 40%;
border-left-color:rgb(202, 19, 19);
}
.sec-1 .slider .drag-line span::after{
left: 60%;
border-top-color: rgb(202, 19, 19);
}